*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    margin:0;
    padding:0;
}

.main{
    max-width:1200px;
    margin:auto;
    padding:16px;
    background-color: lightgray;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.form-A{
    padding:16px 0;
    display: grid;
    grid-gap:16px;
}

.form-A label{
    font-size:24px
}

.form-A input{
    height:32px;
    border: none;
    font-size: 18px;
    padding: 0 8px;
}

.form-A button{
    height: 32px;
    padding: 0 8px;
    font-size: 24px;
    cursor: pointer;
}

.error{
    display: none;
    border: 1px solid red;
    background-color: rgba(255,0,0,0.4);
    padding: 16px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }